h1{
  text-align: center;
  color: green;
}
p {
  transition: ease;
  font-family: monospace;
  text-align: center;
  font-size: 50px;
  color: red;
}
a {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
body {
  background-color: lightblue;
}
div {
width: 300px;
 border: 25px solid green;
 padding: 25px;
 margin: 25px;
}
