body {
  background-image: url("https://d2d00szk9na1qq.cloudfront.net/Product/fa71b15f-bdaa-476f-bd00-3ff51ecd0833/Images/Large_213631.jpg");
  background-repeat: repeat;
}
h1{
  text-align: center;
  color: green;

}
h2 {
  transition: ease;
  font-family: monospace;
  text-align: center;
  color: red;
}
a {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
p.double {border-style: double;}
